<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <title>New Search</title>
</head>
<body>
    <%- include('../../partials/menu.ejs') %>
    <div class="current-page"><h2>New Search</h2></div>

    <main>
      <form class="new" action="/searches" method="post">
        <input class="text" type="text" name="search" placeholder="Type a Title or an Author" required>
        <fieldset>
          <label for="title">
            <input class="radio" type="radio" name="search" value="title" required>
            <span>Title</span>
          </label>
        </fieldset>
        <fieldset>
          <label for="author">
            <input class="radio" type="radio" name="search" value="author" required>
            <span>Author</span>
          </label>
        </fieldset>
        <button type="submit">Ask Google!</button>
      </form>
    </main>
</body>
</html>