@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* ================ */
/* ======BASE====== */
/* ================ */

@import url(reset.css);

html, main {
  background-color: rgb(57, 129, 129);
}

/* ================ */
/* =====LAYOUT===== */
/* ================ */

header {
  width: 100%;
  height: 120px;
  background-color: rgb(57, 129, 129);
  border: 1px solid black;
  position: fixed;
  z-index: 10;
}

div.current-page {
  position: fixed;
  top: 120px;
  z-index: 10;
  width: 100%;
  height: 45px;
  border: 1px solid black;
}

main {
  position: relative;
  top: 175px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* ================ */
/* =====MODULES==== */
/* ================ */


header > h1 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}

header nav {
  margin: 20px auto 0 auto;
  width: 100%;
  text-align: center;
}

header nav ul li {
  margin: 10px;
  display: inline;
}

header nav ul li a {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  transition: all 1s ease;
}

header nav ul li a:hover {
  color: white;
}

div.current-page {
  background-color: rgb(140, 151, 151);
}

div.current-page h2 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 5px;
}

div.result {
  min-width: 300px;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 10px 15px 10px;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 1px 2px 2px rgb(42, 42, 42);
  background-color: rgb(89, 158, 158);
}

div.result h3 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
}

div.result h4 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
}

div.result img {
  display: block;
  width: 150px;
  margin: 0 auto 30px auto;
  box-shadow: 2px 4px 4px rgb(42, 42, 42);
}

div.result button, 
form.new button {
  display: block;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  height: 45px;
  width: 150px;
  border: none;
  border-radius: 5px;
  margin: 10px auto 10px auto;
  background-color: rgb(174, 207, 207);
  box-shadow: 1px 2px 2px black;
  transition: all .5s ease;
}

  div.result button:hover, 
  form.new button:hover {
    background-color: rgb(126, 209, 177);
    box-shadow: 2px 4px 4px black;
  }

  div.result button:active, 
  form.new button:active {
    position: relative;
    top: 2px;
    box-shadow: none;
  }

button.danger {
  background-color: rgb(207, 174, 174) !important;
}

button.danger:hover {
    background-color: rgb(209, 126, 126) !important;
    box-shadow: 2px 4px 4px black;
  }

  button.danger:active {
    position: relative;
    top: 2px;
    box-shadow: none;
  }

div.result p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  text-align: justify;
  margin: 0 10px 10px 10px;
}

div.result a {
  display: block;
  font-size: 24px;
  font-style: italic;
  text-decoration: none;
  text-align: center;
  transition: all 1s ease;
}

div.result a:hover {
  color: white;
}

div#identity {
  font-style: italic;
  margin: 30px auto 30px auto;
}

div#identity p {
  display: block;
}

form.new, form.update {
  width: 400px;
  margin: 30px auto 0 auto;
}

form.new input.text {
  display: block;
  height: 30px;
  width: 350px;
  margin: 15px auto 20px auto;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

form.new button {
  display: block;
  margin: 0 auto 10px auto;
  background-color: rgb(174, 207, 207);
}

fieldset {
  width: 350px;
  margin: auto;
  font-size: 18px;
}

.radio {
  margin: 10px 0 30px 10px;
}

label span {
  margin: 0 10px 0 10px;
}

.edit {
  display: none;
  margin: auto;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

.update {
  margin: auto;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

input.edit {
  height: 30px;
  width: 240px;
  margin: 0 auto 10px auto;
}

input.update {
  display: block;
  height: 30px;
  width: 360px;
  margin: 0 auto 10px auto;
}

textarea.edit {
  height: 240px;
  width: 240px;
  margin-bottom: 10px;
}

textarea.update {
  display: block;
  height: 240px;
  width: 360px;
  margin-bottom: 10px;
}

select.update {
  display: block;
  height: 30px;
  font-size: 18px;
}

h3.update {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}
