<!DOCTYPE html>
<html lang="en">

  <head>
      <%- include('../partials/head.ejs') %>
    <title>Error</title>
  </head>

  <body>
    <h1>You screwed something up.</h1>
    <h2>Google is never wrong.</h2>
  </body>

</html>